/* modifies the react-bootstrap container, col, row class. Spaces everything out  */
.container {
    width: 100%;
    padding: 24px;
}

.techPortfolio-overview {
    background: #fff;
}

.techPortfolio-overview-inner {
    padding: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.techPortfolio-image {
    border-radius: 12px;
}

.techPortfolio-overview-image {
    height: 300px;
    object-fit: cover;
}


.techPortfolio-overview-text h1 {
    margin: 0 0 8px 0;
}

.skills-list {
    list-style: disc;
}

.companies {
    padding: 48px 0;
    text-align: center;
}

.logo-item {
    justify-content: center;
    display: flex;
}

.logo-item img {
    margin: 25px;
    max-width: 140px;
    max-height: 80px;
    object-fit: contain;
    filter: grayscale(0.0);
}

@media (max-width: 600px) {
    
    /* Small screens: two per row */
    .logo-item img {
        max-width: 110px;
    }
    
    .techPortfolio-overview-inner {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }

    .techPortfolio-overview-text {
        padding-top: 50px;
    }
}

.tandem {
    padding: 48px 0;
}

.techPortfolio-githubCommits-image {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.passion {
    background: #fafafa;
}

/* small polish */
h2 {
    margin-top: 0;
}

.textContentSection {
    margin-top: 50px;
    margin-bottom: 50px;
}