.techPortfolio-companies {
    padding: 48px 0;
    text-align: center;
}

.company-logo-item {
    justify-content: center;
    display: flex;
}

.company-logo-item img {
    margin: 25px;
    max-width: 140px;
    max-height: 80px;
    object-fit: contain;
    filter: grayscale(0.0);
}

.paralax-bgimg-1-source {
    background-image: url(/images/techPortfolio/paralax/desk.jpg);
}

.paralax-bgimg-2-source {
    background-image: url(/images/techPortfolio/paralax/softwareDashbaord.jpg);
}

.paralax-bgimg-3-source {
    background-image: url(/images/techPortfolio/paralax/unitTestingOutput.png);
}

.paralax-bgimg-4-source {
    background-image: url(/images/techPortfolio/paralax/deskCat.jpg);
}


@media (max-width: 600px) {
    .paralax-bgimg-1-source {
        background-image: url(/images/techPortfolio/paralaxMobile/deskTop.jpg);
    }
    
    .paralax-bgimg-2-source {
        background-image: url(/images/techPortfolio/paralaxMobile/softwareDashbaord.jpg);
    }
    
    .paralax-bgimg-3-source {
        background-image: url(/images/techPortfolio/paralaxMobile/unitTestingOutput.png);
    }
    
    .paralax-bgimg-4-source {
        background-image: url(/images/techPortfolio/paralaxMobile/deskCatBottom.jpg);
    }
    
    .techPortfolio-companies {
        padding: 0px;
        margin-top: 0px;
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Small screens: two per row */
    .company-logo-item img {
        max-width: 110px;
    }
}