.company-logo-item {
    justify-content: center;
    display: flex;
}

.company-logo-item img {
    margin: 25px;
    max-width: 140px;
    max-height: 80px;
    object-fit: contain;
    filter: grayscale(0.0);
}

.paralax-bgimg-1-source {
    background-image: url(/images/aboutMeSection/techPortfolio/paralax/desk.jpg);
}

.paralax-bgimg-2-source {
    background-image: url(/images/aboutMeSection/techPortfolio/paralax/softwareDashbaord.jpg);
}

.paralax-bgimg-3-source {
    background-image: url(/images/aboutMeSection/techPortfolio/paralax/unitTestingOutput.png);
}

.paralax-bgimg-4-source {
    background-image: url(/images/aboutMeSection/techPortfolio/paralax/deskCat.jpg);
}


@media (max-width: 600px) {
    .paralax-bgimg-1-source {
        background-image: url(/images/aboutMeSection/techPortfolio/paralaxMobile/deskTop.jpg);
    }

    .paralax-bgimg-2-source {
        background-image: url(/images/aboutMeSection/techPortfolio/paralaxMobile/softwareDashbaord.jpg);
    }

    .paralax-bgimg-3-source {
        background-image: url(/images/aboutMeSection/techPortfolio/paralaxMobile/unitTestingOutput.png);
    }

    .paralax-bgimg-4-source {
        background-image: url(/images/aboutMeSection/techPortfolio/paralaxMobile/deskCatBottom.jpg);
    }

    /* Small screens: two per row */
    .company-logo-item img {
        max-width: 110px;
    }
}

@media (max-width: 999px) {

    [data-bs-theme="dark"] .company-logo-item img {
        max-width: 160px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background-color: #fff;
    }
}

@media (min-width: 1000px) {

    /* Small screens: two per row */
    .company-logo-item img {
        max-width: 200px;
        max-height: 1500px;
    }

    [data-bs-theme="dark"] .company-logo-item img {
        max-width: 220px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background-color: #fff;
    }
}