.titleSlideShowImg{
    diplay: block;
    margin-left: auto;
    margin-right: auto;
}

.titleOfWebsite{
  background-color: #f00;
}

.titlePageImg{
  z-index: -1;
}

.bannerNavBar{
  margin-top: 10px;
  margin-bottom: 0;
}

.blogimg1{
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.blogPargraph{
  margin-top: 10px;
}

.blogTitle{
  margin-top: 40px;
}