.titleSlideShowImg{
    diplay: block;
    margin-left: auto;
    margin-right: auto;
}

.titleOfWebsite{
  background-color: #f00;
}

.titlePageImg{
  z-index: -1;
}

.bannerNavBar{
  margin-top: 10px;
  margin-bottom: 0;
}