.hobbiesSection{
  padding-top: 10px;
  padding-bottom: 10px;
}

.hobbiesSectionTitle{
  font-weight: bold;
}

.hobbiesSectionText {
  padding-bottom: 25px;
}

.hobbiesContentList{
  list-style-type: none;
}

.HobbieContentItem{
  padding-bottom: 10px; 
  overflow: hidden;  
}

.tvshowImage{
  height: 100px;
}

.drawingImage{
  height: 300px;
}

.hobbieImageContainer {
  float: left;
  border: 1px solid gray;
  border-radius: 5px;
  min-width: 100px;
  margin-right: 15px;
  position: relative;
}

.hobbieImageLoadingLabel {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}

.hobbieImage {
  z-index: 10;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.hobbieImageLoadingLabelFullImage {
  z-index: 1;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    color: #fff;
}

.hobbieItemInfo{
  display: inline-flex;
}

.hobbieItemInfoContainer{
  display: inline-grid;
}

.hobbieItemTitle{
  font-size: medium;
  font-weight: bold;
  padding-right: 5px;
}

.hobbieItemText{
  font-size: medium; 
}