.techPortfolio-image {
    border-radius: 12px;
}

.techPortfolio-overview-image {
    height: 300px;
    object-fit: cover;
}

.techPortfolio-overview-text h1 {
    margin: 0 0 8px 0;
}

.techPortfolio-overview-skills-list {
    list-style: disc;
}

.pokeperuLink {
    text-align: center;
}

.techPortfolio-qualityWork-content-image {
    border: 1px solid #ccc;
    border-radius: 5px;
}


.paralax-bgimg-1-source {
    background-image: url(/images/teacherPortfolio/paralax/kidsRunningToSchool.jpg);
}

.paralax-bgimg-2-source {
    background-image: url(/images/teacherPortfolio/paralax/classroomWide.jpg);
}

.paralax-bgimg-3-source {
    background-image: url(/images/teacherPortfolio/paralax/artificialInteligenceInLearning.png);
}

.paralax-bgimg-4-source {
    background-image: url(/images/teacherPortfolio/paralax/kidsRunningToSchool.jpg);
}


@media (max-width: 600px) {
    .paralax-bgimg-1-source {
        background-image: url(/images/teacherPortfolio/paralaxMobile/kidsRunningToSchool.jpg);
    }
    
    .paralax-bgimg-2-source {
        background-image: url(/images/teacherPortfolio/paralaxMobile/classroomWide.jpg);
    }
    
    .paralax-bgimg-3-source {
        background-image: url(/images/teacherPortfolio/paralaxMobile/artificialInteligenceInLearning.png);
    }
    
    .paralax-bgimg-4-source {
        background-image: url(/images/techPortfolio/paralaxMobile/kidsRunningToSchool.jpg);
    }

    .techPortfolio-top-section-spacer {
        padding: 0px;
    }

    .techPortfolio-overview-text {
        padding-top: 50px;
    }
}