.teacher-portfolio-overview-image {
    display: block;
    margin: auto;
}

.pokeperuLink {
    text-align: center;
}

.paralax-bgimg-1-source {
    background-image: url(/images/teacherPortfolio/paralax/kidsRunningToSchool.jpg);
}

.paralax-bgimg-2-source {
    background-image: url(/images/teacherPortfolio/paralax/classroomWide.jpg);
}

.paralax-bgimg-3-source {
    background-image: url(/images/teacherPortfolio/paralax/artificialInteligenceInLearning.png);
}

.paralax-bgimg-4-source {
    background-image: url(/images/teacherPortfolio/paralax/kidsRunningToSchool.jpg);
}


@media (max-width: 767px) {
    .paralax-bgimg-1-source {
        background-image: url(/images/teacherPortfolio/paralaxMobile/kidsRunningToSchool.jpg);
    }

    .paralax-bgimg-2-source {
        background-image: url(/images/teacherPortfolio/paralaxMobile/classroomWide.jpg);
    }

    .paralax-bgimg-3-source {
        background-image: url(/images/teacherPortfolio/paralaxMobile/artificialInteligenceInLearning.png);
    }

    .paralax-bgimg-4-source {
        background-image: url(/images/techPortfolio/paralaxMobile/kidsRunningToSchool.jpg);
    }
}