.Timeline {
    min-height: 150vh;
}

.Timeline_sidenav {
    position: fixed;
    bottom: 13vh;
    right: 1vw;
}

#timeline-canvas {
    border:1px solid #d3d3d3;
}

.timeline-page-content-section {
    height: 1000px;
     background-color: lightgray;
}