.navBarLink {
    display: inline-block;
    width: 100%;
}

.brand {
    cursor: pointer;
    margin-left: 10px;
}

.Loadingski {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Loadingski_container {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}

.Loadingski_container>div {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav>a {
    padding-left: 10px;
}

.dropdown {
    padding-left: 10px;
}

.dev-banner {
    background-color: gold;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
}

.data-rr-ui-dropdown-item {
}

@media (min-width: 600px) {
    /* moving the full screen dropdown meny to the left to make the options more readable */
    #App > nav > div > div:nth-child(2) > div > div {
        left: -15px;
    }
}