[data-bs-theme="dark"] .jeffdotski-navbar,
[data-bs-theme="dark"] .jeffdotski-navbar.navbar,
[data-bs-theme="dark"] .navbar.jeffdotski-navbar {
    background-color: #121416 !important;
}

/* react bootsrtap overwrite for selection background of navbar item */
.navbar-nav>a {
    padding-left: 10px;
}

.dropdown {
    padding-left: 10px;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #333
}

.navBarLink {
    display: inline-block;
    width: 100%;
}

.darkMode-icon {
    height: 20px;
}

.brand {
    cursor: pointer;
    margin-left: 10px;
}

.dev-banner {
    color: black;
    background-color: gold;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
}

.data-rr-ui-dropdown-item {
}

@media (min-width: 600px) {
    /* moving the full screen dropdown meny to the left to make the options more readable */
    #App > nav > div > div:nth-child(2) > div > div {
        left: -82px;
    }
}