.TitlePage{
  background-color: #bbb;
}

.TitleImage > img {
    max-width: 100%;
    max-height: none;
}

.TitlePage_aboutJeff {
    background: #EFEFEF;
    height: 400px;
}

.TitlePage_aboutJeff-image {
    padding: 20px;
}

.TitlePage_aboutJeff-image > img {
    height: 400px;
    padding: 45px;
}

.TitlePage_aboutJeff-text {
    
}