h2 {
    margin-top: 0;
}

/* modifies the react-bootstrap container, col, row class. Spaces everything out  */
.container {
    width: 100%;
    padding: 24px;
}

.paralax-portfolio {
    height: 100%;
    margin: 0;
    font: 400 15px / 1.8 "Lato", sans-serif;
    color: #555;
}

.paralax-bgimg {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax-section-title-container {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2;
    /* ensure paralax-section-title-container sits above the overlay */
}

.paralax-section-title-container span.paralax-section-title {
    background-color: #333;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Keep the background visually at ~50% while keeping children (paralax-section-title-container) fully opaque.
Using a pseudo-element overlay avoids applying `opacity` to the container which
would also dim/transparent its children. */
.paralax-bgimg::before {
    content: "";
    position: absolute;
    inset: 0;
    /* a light overlay to simulate the previous 0.5 opacity effect */
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 1;
}

.paralax-bgimg-1   {
    min-height: 500px;
}

.paralax-bgimg-2  {
    min-height: 500px;
}


.paralax-bgimg-3  {
    min-height: 500px;
}

.paralax-bgimg-4  {
    min-height: 500px;
    margin-bottom: 50px;
}

.paralax-content-section-overview {
    margin-top: 80px;
    margin-bottom: 40px;
}

.paralax-content-section-overview-accredidation {
    margin-bottom: 50px;
}

.paralax-content-section-efficiencyGains {
    padding-top: 80px;
    padding-bottom: 40px;
}

.paralax-content-section-toolsForTheJob {
    padding-top: 40px;
    padding-bottom: 80px;
}

.paralax-content-section-qualityWork {
    margin-top: 60px;
    margin-bottom: 80px;
}

.paralax-paragraph {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

.paralax-section-whiteBackground {
    color: #666;
    background-color: white;
    position: relative;
}


.paralax-section-blackBackground {
    color: #ddd;
    background-color: #282E34;
}

/* Small screens: two per row */
@media (max-width: 600px) {

    /* modifies the react-bootstrap container, col, row class. Spaces everything out  */
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .paralax-bgimg-1 {
        min-height: 200px;
    }
    .paralax-bgimg-2 {
        min-height: 300px;
    }
    .paralax-bgimg-3 {
        min-height: 300px;
    }
    .paralax-bgimg-4 {
        min-height: 300px;
    }

    .paralax-section-title-container span.paralax-section-title {
        letter-spacing: 1px;
        font-size: 12px;
    }

    .paralax-bgimg {
        background-attachment: scroll;
    }

    .paralax-section-blackBackground {
    }

    .paralax-content-section-overview {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .paralax-content-section-overview-accredidation {

    }

    .paralax-content-section-efficiencyGains {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .paralax-content-section-toolsForTheJob {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .paralax-content-section-qualityWork {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}