.portfolio-image {
    border-radius: 12px;
}

.portfolio-overview-image {
    height: 300px;
    object-fit: cover;
}

.portfolio-overview-text h1 {
    margin: 0 0 8px 0;
}

.portfolio-bullet-list {
    list-style: disc;
}

.portfolio-accredidation {
    padding: 48px 0;
    text-align: center;
}

.portfolio-content-image {
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .portfolio-overview-text {
        padding-top: 50px;
    }

    .portfolio-top-section-spacer {
        padding: 0px;
    }

    .portfolio-accredidation {
        padding: 0px;
        margin-top: 0px;
        margin-left: 40px;
        margin-right: 40px;
    }
}