.portfolio-image {
    border-radius: 12px;
}

.portfolio-overview-image {
    height: 300px;
    object-fit: cover;
}

.portfolio-overview-text h1 {
    margin: 0 0 8px 0;
}

.portfolio-bullet-list {
    list-style: disc;
}

.portfolio-qualityWork-content-image {
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .portfolio-overview-text {
        padding-top: 50px;
    }

    .portfolio-top-section-spacer {
        padding: 0px;
    }
}