.homePage {
}

.homePage_aboutJeff-name {
    text-align: center;
    padding-top: 50px;
}

.homePage_title-container {
    position: absolute;
    background: transparent;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 80px;
    z-index: 0;
}

.homePage_title-websiteName {
    color: #000000;
    font-weight: bold;
}

.homePage_title-nonwebsitename {
    color: #504747;
}

.TitleImage>img {
    max-width: 100%;
    max-height: none;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 601px) {
    .TitleImage>img {
        height: 70vh;
    }

    .homePage_aboutJeff-image>img {
        padding: 10px;
    }
}

.homePage_aboutJeff-image>img {
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    min-width: 300px;
    max-height: 350px;
    max-width: 350px;
    padding: 45px;
}

.homePage_aboutJeff {
    padding-bottom: 50px;
}

.homePage_aboutJeff-text {
    display: table;
    height: 300px;
    overflow: hidden;
}

.homePage_aboutJeff-text-container {
    display: table-cell;
    vertical-align: middle;
    padding-top: 50px;
}

.homePage_aboutJeff-image {
    padding: 20px;
}

.homePage-link-list-container {
    margin-top: 15px;
    padding-left: 0px;
}

.homePage-link-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.homePage-link {
    color: #2d4a8e;
    font-size: large;
}

@media (max-width: 750px) {
    .homePage_aboutJeff-text-container {
        padding-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
    }

    .homePage_aboutJeff-image {
        padding-bottom: 0px;
    }
}