.Careers {
    padding: 2em;
}

.aliTitle {
    font-weight: bold;
    font-size: 6em;
}

.careersText {
    padding-top: 1em;
    padding-bottom: 1em;
}

.aboutMePargraph {
    padding: 20px;
}

.aliSection {
    padding-top: 60px;
}