.webpagecontent {
    padding-top: 55px;
}

i {
    vertical-align: sub;
}

/* react bootsrtap overwrite for selection background of navbar item */
.dropdown-menu {
    --bs-dropdown-link-active-bg: #333
}