.bioHobbies-img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bioHobbie-disclaimer {
    font-size: 1;
    padding-bottom: 20px;
}

.bio_emailAddress {
    color: darkblue;
    font-weight: bold;
}

.bio-betweenParagraphs {
  white-space: 20px;
}

@media (max-width: 600px) {
  .aboutmeTextSection {
    padding: 20px;
  }
}