.bioHobbies-img {
    padding-top: 10px;
    padding-bottom: 10px;
}

[data-bs-theme="dark"] .bioHobbies-img-collage {
    border-radius: 10px;
    background-color: rgb(52, 52, 52);
}

.bioHobbie-disclaimer {
    font-size: 1;
    padding-bottom: 20px;
}

.bio_emailAddress {
    font-weight: bold;
}

[data-bs-theme="light"] .bio_emailAddress {
    color: darkblue;
}

[data-bs-theme="dark"] .bio_emailAddress {
    color: rgb(176, 176, 255);
}

.bio-betweenParagraphs {
  white-space: 20px;
}

@media (max-width: 600px) {
  .aboutmeTextSection {
    padding: 20px;
  }
}