.aboutmeWrapper{
  background-color: #f2f2f2;
}

.aboutMeTitle{
  padding-top: 60px;
  padding-bottom: 15px;
  font-size: 50px;
  font-weight: bold;
}

.aboutMePargraph{
  padding-top: 10px;
}

.aboutMePargraphWithImage{
  padding-bottom: 10px;
}

.aboutMeTextSection{
  padding-bottom: 60px;
}

.aboutmeImg{
  z-index: -1;
}

.aboutMeSectionTitle{
  font-weight: 600;
}