.navigation-icon-button {
  position: fixed; /* Position the back button on the left */
  left: 10px;
  z-index: 10;
}

.back-arrow {
  width: 30px;
  height: 30px;
}

.back-arrow {
  width: 30px;
  height: 30px;
}

.battle-icon {
  width: 50px;
  height: 50px;
}

.clickable-link-icon {
  transition: transform 0.15s;
}

.clickable-link-icon:hover,
.clickable-link-icon:focus {
  transform: scale(1.2);
  outline: none;
}