.PokePeruSecondaryPage {
  text-align: center;
}

.secondary-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the content horizontally */
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.secondary-page-header-text-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.secondary-page-title {
  margin: 0;
}

.secondary-page-icon {
  width: 75px;
  height: 75px;
  margin-right:10px;
}