.Profile_title {
    font-size: 1.5em;
    font-weight: 600; 
}

.Profile_header {
    font-weight: bold;
}

.Profile_bio {
    padding-top: 25px;
    padding-bottom: 25px;
}

.Profile_actions {
    padding: 25px;
}

.Profile_profilepic-link {
    cursor: pointer;
}

.Profile_empty-info {
    color: rgb(70, 70, 70);
}